%section
  %h2 Haml rendered content:
  %span
    React is flexible and can co-exist alongside traditional server-rendered
    HTML pages. This text was generated in Haml. This provides flexibility 
    and doesn't call for an all or nothing approach.
